* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background: red;
    animation: bg 12s infinite ease;
    transition: all 3s ease;
}

li {
    color: green;
}

img{
    border-radius: 50%;
}

@keyframes bg {
    0%{
        background: tomato;
    }
    25%{
        background: rgb(253, 253, 73);
    }
    50%{
        background: limegreen;
    }
    75%{
        background: cornflowerblue;
    }
    100%{
        background: tomato;
    }
}