<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to our survey!</h1>
    <h3>Feel free to answer the following questions:</h3>
    {% if questions %}
        {% for question in questions %}
            <p><a href="/polls/questions/{{question.id}}"> {{question.text}} </a></p>
        {% endfor %}
    {% else %}
        <p>No questions found.</p>
    {% endif %}
</body>
</html>