<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    {% if products %}
        {% for product in products %}
            <section>
                <h2> <a href="{% url 'products:detail' product.id %}">[{{product.code}}] {{product.name}}</a></h2>
                <p>{{product.desc}}</p>
                <p>{{product.price}}</p>
            </section>
        {% endfor %}
    {% else %}
        <h2>No products found.</h2>
    {% endif %}
</body>
</html>